body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link .bi {
  font-size: 15px;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

[data-clipboard-text] {
  cursor: pointer;
}

.product-filter .form-label {
  margin-bottom: 0.2rem;
}

td .bi-star-fill {
  color: #ff9611
}

td.info-hover-block-wrap {
  position: relative;
}
td.info-hover-block-wrap span {
  border-bottom: 1px dashed #000;
}
.info-hover-block {
  display: none;
  position: absolute;
  box-shadow: 0 0 3px #bbb;
  border-radius: 3px;
  padding: 15px;
  width: 200px;
  background: #fff;
  top: 28px;
  left: 0;
  z-index: 1;
}
td:hover > .info-hover-block {
  display: block
}

.filter-field {
  position: relative;
}
.filter-field input {
  padding-right: 25px;
}
.filter-field span {
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
  padding: 6px 9px;
  font-size: 11px;
}
