.empty-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
.total__img {
    margin-bottom: 50px;
}
.total__ul {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

.editable_element {
    background-color: rgba(189, 211, 236, 0.44);
}

.total__title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.grey_cell {
    background-color: #c9c8c8;
}
.products__line {
    text-align: center;
}
.total__table-th, .total__table-td {
    text-align: center;
    border: 1px solid #000;
}

.total__table-th {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.test_size {
    width: 154%;
}

.total__table-th {
    background-color: gray;
    color: white;
}

.total {
    max-width: 789px;
    border: 10px solid #1AB6FF1A;
    padding: 50px 30px;
}
.delete-icon-text {
    background-color: transparent;
    border: none;
    width: 60px;
}

.total__participant-value {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.total__company-name-title-head {
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;

	margin-bottom: 8px;
}


.input_watch::placeholder {
    font-family: Arial;
    margin: auto;
    text-align: center;

    font-size: 12px;
    white-space: normal;
}

.total__suggest-description {
    display: flex;
    align-items: center;
}
.total__sum-name {
    margin-left: auto;
    margin-right: 0px;
    font-family: Arial, sans-serif;
}
.total__sum-value {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.total__sum-item {
    display: flex;
    justify-content: space-between;
}
.total__sum {
    font-weight: bold;
    justify-content: space-between;
    margin-right: 90px;
    margin-bottom: 27px;
}
.total__suggest-value-blue {
    background-color: rgba(96, 153, 250, 0.65);
}
.products__line.hidden {
    display: none;
}
.qr-code {
    width: 150px;
    height: auto;
}
.template {
    display: none;
}
.li {
    font-size: 11px;
}

.title_li{
    font-size: 24px;
}
.empty-table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.empty-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#results-container {

    display: flex;
}

#product-results {
    position: absolute;

    left: 50%;
    background-color: white;

    max-height: 200px;
    /*overflow-y: auto; */
    width: 50%;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#category-results {
    position: absolute;


    left: 0;
    background-color: white;

    max-height: 200px;
    /*overflow-y: auto; */
    width: 50%;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.result {
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    padding: 10px;
}

.result:hover {
    background-color: #007bff;
    color: white;
}

.hover_price:hover {
    background-color: #aaffaa;
}

.editable {
    border: 1px solid transparent;
    padding: 5px;
}

.editable.active {
    border: 1px solid black;
}

#total_table td:nth-last-child(-n+3) {
    background-color: #eaeaea;
    color: #970c0c;
}


.total__table-th {
    background-color: gray;
    color: white;
}


.total__table-th:last-child,
.total__table-th:nth-last-child(2),
.total__table-th:nth-last-child(3) {

}

/*.total__table {*/
/*    width: 100%;*/
/*    border: 0px;*/
/*    margin-bottom: 25px;*/
/*}*/

.total__table-td:nth-child(3) {
    background-color: #da0202;
}

/*.total__table-th:nth-child(8) {*/
/*    opacity: 0;*/
/*    border: none;*/
/*}*/

/*.no-border {*/
/*    border: 0px; !* Убираем границы у столбца *!*/
/*}*/

/*.create_row {*/
/*    width: 100px;*/
/*}*/
.list {
    list-style-type: inherit;
    padding-left: 20px;
}
.list-item {
    font-family: Arial, sans-serif;
    margin-bottom: 12px;
        font-size: 11px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.list-container {
    flex: 1;
}

.total__footer-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
.amount__words {
    font-family: Arial, sans-serif;
    margin-bottom: 0px;
}
.total__footer-text p:last-child {
    font-family: Arial, sans-serif;
}
.footer_ul {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

td, input {
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid black;
}

