{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lk_files/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/reset.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/header.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/delivery.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/positions.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/total.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/media.css' %}">
    <link rel="stylesheet" href="{% static 'lk_files/style.css' %}">
    <link href="{% static 'lk_files/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lk_files/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lk_files/bootstrap-icons.css' %}">
    <title>Личный кабинет</title>

    <style>
        .empty-table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        .empty-table th {
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .empty-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .products__table tr:last-child,
        .companies__table tr:last-child {
            background-color: #F7F7F9;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <div class="header__logo">
                    <a href="https://prod.pkf-m.ru/#">
                        <img class="logo" src="{% static 'lk_files/logo.svg' %}" alt="">
                    </a>
                </div>
                <div class="header__contacts">
                    <address>
                        <div class="address__item">
                            <img class="address__item-icon" src="{% static 'lk_files/icon-clock.svg' %}" alt="">
                            <div class="address__item-text">
                                <a href="https://prod.pkf-m.ru/">Круглосуточная поддержка</a>
                            </div>
                        </div>
                        <div class="address__item">
                            <img class="address__item-icon" src="{% static 'lk_files/icon-phone.svg' %}" alt="">
                            <div class="address__item-text">
                                <a href="tel:+78006003327">8 800 600-33-27</a>
                            </div>
                        </div>
                        <div class="address__item">
                            <img class="address__item-icon" src="{% static 'lk_files/icon-mail.svg' %}" alt="">
                            <div class="address__item-text">
                                <a href="mailto:">info@pkf-m.ru</a>
                            </div>
                        </div>
                    </address>
                </div>
                <div class="header__user">
                    <img class="header__user-img" src="{% static 'lk_files/user.svg' %}" alt="">
                    <img class="arrow-down" src="{% static 'lk_files/arrow-down.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="container">
            <div class="nav__inner">
                <ul class="nav__list">
                    <a class="nav__item-link" href="/product-views">
                        <li class="nav__item">Расчет стоимости</li>
                    </a>
                    <a class="nav__item-link" href="https://prod.pkf-m.ru/">
                        <li class="nav__item">История</li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>

<form method="post" style="padding: 30px 100px; line-height: 5px;">
  {% csrf_token %}
  {{ supplier_office_form.as_p }}
  <button style="display: block;
    cursor: pointer;
    border: 1px solid #979797;
    padding: 14px 24px;
    font-size: 18px;
    transition: all 0.1s linear;" type="submit">Сохранить</button>
  <p></p>
  <a href="{% url 'create_supplier' %}">Назад</a>
</form>

</body>
</html>
