/* HEADER */
@media (max-width: 1052px) {
	.header__contacts address{
		flex-direction: column;
		gap: 10px; 
	}
}

@media (max-width: 540px) {
	.header__top-inner {
		flex-direction: column;
		gap: 8px;
	}
}

/* DELIVERY */
@media (max-width: 1227px) {
	.delivery__inner {
		flex-direction: column;
	}
	.region__title {
		margin-right: 20px;
	}
	.delivery__select, .region__select {
		font-size: 16px;
	}
	.delivery__item {
		align-items: center;
	}
}
@media (max-width: 618px) {
	.delivery__item {
		flex-direction: column;
	}
}
@media (max-width: 437px) {
	.delivery__select,
	.region__select {
		padding: 10px;
	}
}

/* TITLE */
@media (max-width: 1227px) {
	.title {
		font-size: 16px;
	}
}

/* POSITIONS */
@media (max-width: 1227px) {
	.positions__header-inner {
		flex-direction: column;
		gap: 15px;
	}
}
@media (max-width: 1095px) {
	.adding {
		flex-direction: column;
		gap: 20px;
	}
	.adding__name {
		width: auto;
		gap: 15px;
	}
}
@media (max-width: 977px) {
	.positions__sum-items {
		flex-direction: column;
		gap: 10px;
	}
	.positions__total {
		margin-bottom: 10px;
	}
}
@media (max-width: 820px) {
	.companies__table {
		width: 70%;
	}
	.products__table {
		width: auto;
	}
	.tables__wrapper {
		gap: 0px;
	}
}
@media (max-width: 485px) {
	.positions__total {
		flex-direction: column;
		gap: 15px;
	}
	.bottom-btns {
		justify-content: center;
		padding-right: 0;
	}
}

/* CALCULATION */
@media (max-width: 1227px) {
	.calculation__title {
		text-align: center;
	}
	.calculation__buttons {
		justify-content: center;
	}
}
@media (max-width: 475px) {
	.total__header {
		flex-direction: column;
	}
	.total__img {
		width: 100px;
		margin-bottom: 15px;
	}
	.total__sum-name, 
	.total__sum-value {
		font-size: 14px;
	}
	.total__footer-text {
		font-size: 14px;
	}
	.total__title {
		font-size: 18px;
	}
	.total__company-name {
		font-size: 22px;
	}
}
@media (max-width: 423px) {
	.total__table-th,
	.total__table-td {
		padding: 4px;
	}
}