.calculation {
	padding-top: 40px;
}
.calculation__header {
}
.calculation__title {
	margin-bottom: 30px;
}
.calculation__content {
	max-width: 789px;
}
.calculation__buttons {
	margin-bottom: 40px;
}
.total {
	max-width: 789px;
	border: 10px solid #1AB6FF1A;

	padding: 60px 40px;
}
.total__header {
	display: flex;
	justify-content: space-between;

	margin-bottom: 40px;
}
.total__img {
}
.total__header-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.total__company-name {
	font-family: "Helvetica-bold";
	font-size: 28px;
	text-transform: uppercase;

	margin-bottom: 8px;
}
.total__header-text {
	font-family: "Helvetica-bold";
	font-size: 14px;
}
.total__title {
	font-family: "Helvetica-bold";
	font-size: 22px;

	margin-bottom: 20px;
}
.total__line {
	height: 2px;
	background-color: #000;

	margin-bottom: 20px;
}
.total__participants {
	margin-bottom: 28px;
}
.total__participant {
	display: flex;

	margin-bottom: 9px;
}
.total__participant-name {
	font-family: "Helvetica-regular";
	font-size: 14px;

	margin-right: 28px;
}
.total__participant-value {
	font-family: "Helvetica-bold";
	font-size: 14px;
}
.total__table {
	width: 100%;
	border: 2px solid #000;

	margin-bottom: 25px;
}
.total__table-row {
}
.number {
	text-align: center;
}
.price, .sum {
	text-align: right;
}
.total__table-th {
	text-align: center;
	font-family: "Helvetica-bold";
	font-size: 15px;
}
.total__table-td {
	font-family: "Helvetica-medium";
	font-size: 14px;
}
.total__table-th, .total__table-td {
	padding: 8px;
}
.total__table-th, .total__table-td {
	border: 1px solid #000;
}
.total__sum {
	text-align: right;
	max-width: 369px;
	margin-left: auto;
	margin-bottom: 27px;
}
.total__sum-item {
	display: flex;
	gap: 90px;
	justify-content: space-between;
}
.total__sum-name {
	font-family: "Helvetica-bold";
	font-size: 18px;
}
.total__sum-value {
	font-family: "Helvetica-bold";
	font-size: 20px;
}
.total__footer-text {
	font-family: "Helvetica-regular";
	font-size: 18px;

	display: flex;
	flex-direction: column;
	gap: 5px;

	margin-bottom: 20px;
}
.total__footer-text p:last-child {
	font-family: "Helvetica-bold";
}
.signature {
	width: 100%;
}