# ===================================================== ФАЙЛЫ И ДИРЕКТОРИИ =====

# Метаданные и настройки отображения для macOS Finder
.DS_Store
# Информация о файловой система HFS+
.AppleDouble
# Локальные настройки отображения файлов
.LSOverride
# Индексы Spotlight для быстрого поиска
.Spotlight-V100
# Управление удаленными файлами и корзиной
.Trashes
# Пользовательские значки для файлов и папок
Icon?
# Миниатюры изображений для Windows
ehthumbs.db

# ================================================== КЭШ И ВРЕМЕННЫЕ ФАЙЛЫ =====

# Директория кэша PyCharm или IntelliJ IDEA
.idea/
# Кэш файлов Python
__pycache__/
# Компилированные файлы Python
*.pyc
# Временные файлы создаваемые текстовыми редакторами
*~
# Генерируемые парсером файлы
*.csv
# Логи
*.log
# PID
pid.txt
# Время начала работы
start_time.txt

# ===================================== ЛОКАЛЬНЫЕ НАСТРОЙКИ И КОНФИГУРАЦИИ =====

# Файлы с локальными настройками окружения
.env
# Директории с локальными настройками
.config/

# ================================================== ВИРТУАЛЬНОЕ ОКРУЖЕНИЕ =====

# Директория виртуального окружения Python
venv/
.venv/

# =========================================== ЗАВИСИМОСТИ И БИНАРНЫЕ ФАЙЛЫ =====

# Директория с зависимостями Node.js
node_modules/
# Дирекория с собранным бинарным кодом
build/


