{% extends 'base.html' %}

{% block css%}
table {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

th {
  text-align: right;
  border: none
}

td {
  border: none;
  text-align: left;
}

td > div {
  margin-bottom: 15px;
  margin-left: 15px;
}

textarea {
  width: 100%;
  height: 100%
}

.flexed {
  display:flex;
flex-wrap: wrap
}

.flexed > div {
  width: 33%;
  border: solid 3px white;
}

{% endblock %}



{% block content %}

<div style="text-align: center"><h1>Поставщик "{{ supplier.name }}"</h1></div>

<form method="POST">
 {% csrf_token %}
<table>

 <tr>
  <th><div>Рейтинг</div></th>
  <td><div>{{ supplier.rating }}/100</div></td>
 </tr>
 <tr>
   <th>Комментарий</th>
    <td>
     <div><textarea style="" name="comment">{% if supplier.comment %}{{supplier.comment}}{% endif %}</textarea></div>
    </td>
 </tr>

 <tr><td style="border: none" colspan="2">&nbsp;</td></tr>

 <tr>
   <th>Менеджер</th>
   <td>
    <div><input name="manager_name" value="{% if manager.name %}{{ manager.name }}{% endif %}" /></div>
   </td>
 </tr>
 <tr>
   <th>Телефон</th>
   <td>
    <div><input name="manager_phone" value="{% if manager.phone %}{{ manager.phone }}{% endif %}" /></div>
   </td>
 </tr>

 <tr>
   <th>Email</th>
   <td>
    <div><input name="manager_email" value="{% if manager.email %}{{ manager.email }}{% endif %}" /></div>
   </td>
 </tr>

 <tr>
   <th>Расписание</th>
   <td><div>
    <textarea name="manager_schedule">{% if manager.schedule %}{{manager.schedule}}{% endif %}</textarea>
   </div></td>
 </tr>

 <tr>
   <th>Комментарий</th>
   <td><div>
    <textarea name="manager_comment">{% if manager.comment %}{{manager.comment}}{% endif %}</textarea>
   </div></td>
 </tr>

 <tr>
  <td colspan="2" style="text-align: center;"><button style="margin-bottom: 133px">Сохранить</button></td>
 </tr>
</table>
</form>









<div style="text-align: center"><h4>Офисы</h4></div>

<div class="flexed">
 {% for office in offices %}
 <div>
   <div style="text-align: center; margin-top: 10px">&nbsp;</div>
   {% include "includes/office.html" %}
 </div>
 {% endfor %}

 <div>
  {% with new_office as office %}
   <div style="text-align: center; margin-top: 10px"><b>Добавить новый</b></div>
    {% include "includes/office.html" %}
   </div>
  {% endwith %}
</div>







<div style="text-align: center; margin-top: 133px"><h4>Склады</h4></div>

<div class="flexed">
 {% for warehouse in warehouses %}
 <div>
   <div style="text-align: center; margin-top: 10px">&nbsp;</div>
   {% include "includes/warehouse.html" %}
 </div>
 {% endfor %}

 <div>
  {% with new_warehouse as warehouse %}
   <div style="text-align: center; margin-top: 10px"><b>Добавить новый</b></div>
    {% include "includes/warehouse.html" %}
  {% endwith %}
 </div>
</div>

{% endblock %}