{% load static %}

<div class="container">
    <div class="calculation__header">
        <div class="buttons calculation__buttons">
            <a href="javascript:void(0);" class="btn" id="download-pdf-link">
                <img class="btn-icon" src="/static/lk_files/download.svg" alt="">
                <span class="btn-text" id="generate-pdf-button" onclick="generatePdf()">Создать PDF</span>
            </a>

            <a class="btn" href="https://prod.pkf-m.ru/">
                <img class="btn-icon" src="/static/./lk_test_files/print.svg" alt="">
                <span class="btn-text">Распечатать</span>
            </a>
        </div>
    </div>
    <div class="total">
        <div class="total__header-content">
            <div class="total__header">
                <img class="total__img" width="25%" src="/static/lk_files/total-img.svg" alt="">
                <div class="total__header-content" contentEditable="False">
                    <div class="total__company-name-title-head  editable_element" contentEditable="True">
                        <ul class="total__ul">
                            <li class="title_li ">ООО "ПКФ "МЕТИНВЕСТ-СЕРВИС"</li>
                            <li>109428, Г.Москва, вн.тер. г. Муниципальный Округ Рязанский, пр-кт Рязанский, дом 10,
                                строение 18, помещение 44/8
                            </li>
                            <li>ИНН: 7721452768 КПП: 772101001</li>
                            <li>Тел. 8 (495) 272-07-55</li>
                            <li>E-mail: zakaz@pkf-m.ru Web: pkf-m.ru</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="total__content" id="editable-content" contentEditable="False">
                <div class="total__title editable_element" id="editable-title" contentEditable="True">
                    Коммерческое предложение № 67317 от 17 октября 2023 г.
                </div>
                <div class="total__line"></div>
                <div class="total__participants">
                    <div class="total__participant">
                        <div class="total__participant-name">Поставщик:</div>
                        <div class="total__participant-value editable_element supplierElement" contentEditable="True">
                            ООО "ПКФ "МЕТИНВЕСТ-СЕРВИС", ИНН 7721452768, КПП 772101001, 109428, Г.Москва, вн.тер. г.
                            Муниципальный Округ Рязанский, пр-кт Рязанский, дом 10, строение 18, помещение 44/8,
                            тел.: 8 (495) 272-07-55
                        </div>
                    </div>
                    <div class="total__participant">
                        <div class="total__participant-name">Покупатель:</div>
                        <div class="total__participant-value editable_element  buyerElement" contentEditable="True">
                            "Частный клиент"
                        </div>
                        <div class="total__participant-value"></div>
                    </div>
                </div>
                <table class="test_size " id="selected_products">

                    <tr>
                        <th class="total__table-th">№</th>
                        <th class="total__table-th">Артикул</th>
                        <th class="total__table-th">Товары (работы, услуги)</th>
                        <th class="total__table-th">Кол-во</th>
                        <th class="total__table-th">Ед.</th>
                        <th class="total__table-th">Цена</th>
                        <th class="total__table-th">Сумма</th>
                        <th class="total__table-th">Примеч.</th>
                        <th class=" delete-icon-text"></th>
                        <th class="total__table-th">Поставщик</th>
                        <th class="total__table-th">Обновлено</th>
                        <th class="total__table-th">Наценка</th>
                    </tr>

                </table>
                <table class="total__table">
                    <tbody>
                    <tr class="total__table-row">

                    <tr class="total__table-row"></tr>
                </table>
                <img style="cursor: pointer; width: 35px;" src="/static/lk_files/green-cross.svg" alt="create"
                     onclick="createTableRow()">
                <input class="input_watch" type="text" id="markupInput" placeholder="Общая  наценка"
                       style="width: 110px; height: 30px; text-align: right; margin-left: 890px;">

                <div class="total__sum">
                    <div class="total__sum-item">
                        <div class="total__sum-name">Итого:</div>
                        <div class="total__sum-value">0</div>
                    </div>
                    <div class="total__sum-item">
                        <div class="total__sum-name">В том числе НДС:</div>
                        <div class="total__sum-value_ndc">0</div>
                    </div>
                    <div class="total__sum-item">
                        <div class="total__sum-name">Всего к оплате:</div>
                        <div class="total__sum-value_joint">0</div>
                    </div>
                </div>


                <div class="total__suggest-value-blue">
                    <div class="total__suggest-blue-list">
                        ВАМ ТАКЖЕ МОГУТ ПОНАДОБИТЬСЯ:
                    </div>
                    <div class="total__suggest-blue-catalog">
                        смотреть каталог
                    </div>

                </div>


                <div class="total__suggest-description">
                    <div class="list-container">
                        <ul class="list footer_ul">
                            <li class="list-item">полный спектр металлопроката</li>
                            <li class="list-item">строительные материалы</li>
                            <li class="list-item">ЖБИ изделия</li>
                            <li class="list-item">закладные и нестандартные металлоконструкции</li>
                            <li class="list-item">профнастил и сэндвич-панели</li>
                            <li class="list-item">металлоизделия изготовленные по индивидуальным чертежам в размер
                            </li>
                        </ul>
                    </div>
                    <div class="image-container">
                        <img class="qr-code" src="/static/lk_files/qr_code2.png" alt="">
                    </div>
                </div>
                <div class="total__footer-text" contentEditable="True">
                    <p class="amount__words editable_element firstStringWithPriceInWords">Всего наименований 0, на сумму
                        00
                        руб.</p>
                    <p class="amount__words  editable_element secondStringWithPriceInWords"></p>
                </div>
                <div class="total__line"></div>
                <img class="signature" src="/static/lk_files/signature3.png" alt="">

            </div>
        </div>
    </div>
</div>
<!DOCTYPE html>
<html>
<body>

<script src="/static/js/lk_kp_number_to_words.js"></script>
<script src="/static/js/lk_kp_main.js"></script>

</body>
</html>
