/* HEADER TOP */
.header__top {
	padding: 22px 5px;
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.logo {
	width: 100%;
}
.header__contacts {
}
.header__contacts address {
	display: flex;
	align-items: center;
	gap: 103px;
	font-style: normal;
}
.address__item {
	display: flex;
	align-items: center;
}
.address__item-icon {
	margin-right: 12px;
}
.address__item-text {
	font-family: 'FuturaPT-medium';
	font-size: 18px;
}
.header__user {
	display: flex;
	align-items: center;
}
.header__user:hover {
	cursor: pointer;
}
.header__user-img {
}
.arrow-down {
	display: block;
}

/* NAV */
.nav {
	background-color: #0A5BFF;
}
.nav__list {
	display: flex;
}
.nav__item {
	display: block;
	padding: 12px 40px;

	color: #fff;
	font-family: 'FuturaPT-medium';
	font-size: 18px;

	-webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
}
.nav__item:hover {
	background: #0BA2FB;
}
.nav__item-link {
	position: relative;
}
.nav__item-link span {
	position: absolute;
	right: -20px;
	top: -4px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 50%;
	background-color: #E92E2E;
	width: 19px;
	height: 19px;
}